.projects {
  margin-top: 1rem;
  text-align: center;
}

.projects-grid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.project-card {
    background-color: #1c1c1c;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 320px;
  cursor: pointer;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-12px) scale(1.06)!important;; 
  box-shadow: 0 25px 50px rgba(0,0,0,0.5);
  color: white;
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
  object-position: top;
}

.project-card h3 {
  margin: 0.5rem 0;
  font-size: 1.35rem;
  color: teal;
}

.project-card:hover h3 {
  color: white;
}

.project-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
  line-height: 1.5;
}

.project-card p {
  color: #ccc;
}

.project-card:hover p {
  color: white;
}

.links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.links a {
  background-color: teal;
  border: 1px solid teal;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: all 0.25s ease;
}

.project-card:hover .links a {
  background: white;
  color: teal;
}

.links a:hover {
  transform: translateY(-3px);
}

@media (max-width: 1280px) {
  .project-card {
    width: 300px;
    padding: 1.7rem;
  }
  .project-card img {
    height: 170px;
  }
}
@media (max-width: 768px) {
  .projects-grid {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 90%;
    max-width: 350px;
  }

  .project-card img {
    height: 160px;
  }
}
@media (max-width: 480px) {
  .project-card {
    padding: 1rem;
    width: 95%;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }

  .project-card p {
    font-size: 0.9rem;
  }

  .project-card img {
    height: 140px;
  }

  .links a {
    padding: 0.4rem 0.8rem;
    font-size: 0.85rem;
  }
}