.skills {
  margin-top: 1rem;
  text-align: center;
}

.skills-category {
  margin-bottom: 2rem;
}

.skills-category h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: teal;
}

.skills-grid {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.skill-card {
  background: #f9f9f9;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 120px;
  cursor: pointer;
}

.app.dark .skill-card {
  background: #1c1c1c;
}

.skill-card:hover {
  transform: translateY(-10px) scale(1.1) rotate(-3deg);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
  background: teal;
  color: white;
}

.skill-card span {
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease;
}

.skill-card:hover span {
  transform: rotate(15deg) scale(1.2);
}

.skill-card p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}
